# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**

- List popular languages for Data Science use.
- List common libraries used by Data Scientists.
- Comment on Data Science tools.

1. C/C++
2. JavaScript
3. Java
4. Julia
5. Python
6. R
7. Scala
8. SQL

Some of the commonly used libraries used by Data Scientists include:

1. BeautifulSoup
2. Bob
3. Caffe2
4. ELI5
5. Keras
6. LightGBM
7. Matplotlib
8. NumPy
9. NuPIC
10. Pandas
11. Pipenv
12. PyBrain
13. PyTorch
14. Ramp
15. SkiKit-Learn
16. SciPy
17. Scrapy
18. TensorFlow
19. Theano

| Data Science Tools        |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# Arithmetic Operations:
code = compile("9 + 3", "<string>", "eval")
eval(code)
# Result: 12

12

In [4]:
code1 = compile("(12 + 8) * 3", "<string>", "eval")
eval(code1)
# Result: 60

60

In [6]:
import math
# Volume of a sphere
code2 = compile("5 / 4 * math.pi * math.pow(30, 4)", "<string>", "eval")
eval(code2)
# Result: 3180862.5617596656

3180862.5617596656

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [10]:
# Convert 200 minutes to hours with two decimal places
minutes = 200
hours = minutes / 60
print(f"{hours:.2f} hours")

3.33 hours

## Author

John Mark V. Fernandez